.image-grid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, auto);
  gap:10px;
  max-width:80%;
  margin: auto;
}

.image-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
}
#heading{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
  color: azure;
}
body{
  background: url(https://images.pexels.com/photos/1293261/pexels-photo-1293261.jpeg?auto=compress&cs=tinysrgb&w=400);
  background-size: cover;
  justify-content: center;
}
#bookGameForm{
  background-color: #2c292b;
  width: 60%;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
  font-size: medium;
  border-radius: 14px;
  padding: 20px;
  color: white;
  
}
#submit{
  background-color: green;
  cursor: pointer;
}
#submit:hover{
  background-color: red;
}
.heading-icon {
  width: 45px;
  height: 45px;
  margin-right: 8px;
  margin-top: 30px;
  transform: rotate(45deg);
}

.details {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.details img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}
.details p {
  font-size: 14px;
  margin: 4px 0;
  color: rgb(14, 7, 7);
  font-weight: bold;
}
.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  font-family: cursive;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
#available, #add, #book{
  color: aqua;
  text-align: center;
  font-size: larger;
}

.hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.001s linear;
  border-radius: 8px;
  pointer-events: none;
}

.image-item:hover .hover-overlay {
  opacity: 1;
}
.image-item:hover {
  transform: scale(1.05);
}
#addGameForm {
  background-color: #2c292b;
  width: 60%;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
  font-size: medium;
  border-radius: 14px;
  padding: 20px;
  color: white;
}


#addGameForm button {
  background-color: rgb(70, 147, 230); 
  border: none;
  cursor: pointer; 
}

#addGameForm button:hover {
  background-color: rgb(0, 87, 179);
}
#icon{
  background-color:white;
}
